.images__container {
  position: absolute;
  inset: 0;
  z-index: -2;
  .images {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    @media screen and (max-width: 40em) {
      height: 85vh;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4rem;
        background: rgb(205, 133, 93);
        background: linear-gradient(
          0deg,
          rgba(205, 133, 93, 1) 9%,
          rgba(205, 133, 93, 0) 100%
        );
      }
    }
    // transition: visibility 500ms cubic-bezier(0.61, 0, 0.36, 1);
    &.active {
      visibility: visible;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
    }
  }
}
.home {
  color: #fefefe;
  height: calc(80vh - 100px);
  &__container {
    height: 80%;
    display: grid;
    place-content: center;
    h1 {
      font-size: 4rem;
      font-weight: normal;
      line-height: 1;
      text-align: center;
    }
  }
  &__images {
    text-align: center;
    p {
      @media screen and (max-width: 40em) {
        font-size: 1.5em;
      }
      span {
        cursor: pointer;
        &:hover {
          font-style: italic;
        }
      }
    }
  }
}
