---
layout: default
title: SCCA Tamale
path: home
pageCriticalStyles: 
  - css/home.css
---

<div class="home">
  <div class="home__container">
    <h1>
     <span id="current-date">Saturday, October 2, 2021</span><br />
     <span id="open-state">Currently closed. </span><br />
      Opens at <span id="reopening-time">11 am</span> tomorrow.
    </h1>
  </div>
</div>
