---
layout: default
title: SCCA Tamale
path: home
pageCriticalStyles: 
  - css/home.css
---
<div class="images__container">
  <div class="images">
    <img src="/static/img/image 1.png" alt="scca">
  </div>
  <div class="images">
    <img src="/static/img/image 2.png" alt="scca">
  </div>
  <div class="images">
    <img src="/static/img/image 3.png" alt="scca">
  </div>
  <div class="images">
    <img src="/static/img/image 4.png" alt="scca">
  </div>
  <div class="images">
    <img src="/static/img/image 5.png" alt="scca">
  </div>
</div>

<div class="home">
  <div class="home__container">
    <div class="on-view">
      {% for exhibition in collections.exhibition %}
        {% if loop.index <= 1 %}
          <div class="on-view__content">
            <a href="{{ exhibition.url }}" target="_blank">
              <h2>{{ exhibition.data.title }}</h2>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="home-dynamic__content">  
      <h1>
        <span id="current-date"></span><br />
        <span id="open-state"></span>.<br />
        <span id="reopening-time"></span>
      </h1>
    </div>

  </div>
  <div class="home__images">
    <p>[<span class="img__btn">image 1</span>, <span class="img__btn">image 2</span>, <span class="img__btn">image 3</span>, <span class="img__btn">image 4</span>, <span class="img__btn">image 5</span>]</p>
  </div>
</div>
