<footer>
  <div class="footer__wrapper">
    <div class="footer__content">
      {% if page.url == '/'%}
      <div class="about__scca">
        <p>
          The Savannah Centre for Contemporary Art (SCCA) is an artist-run
          project space, exhibition and research hub, cultural repository and
          artists’ residency located in Tamale, Ghana- dedicated to art and
          cultural practices which emerged in the 20th Century. <br />
        </p>
      </div>
      {% endif %}
      <div class="on-view__scca">
        <p>
          <span id="view__state">On view now:</span><br />
          {% for exhibition in collections.exhibition | reverse %} {% if
          loop.index <= 1 %} {{ exhibition.data.title }}<br />
          {{ exhibition.data.date.toUTCString() | dateStructure("start") }} - {{
          exhibition.data.end.toUTCString() | dateStructure("end") }}<br />
          {% endif %} {% endfor %}
        </p>
      </div>
      <div class="opening-times__scca">
        <p>
          Monday–Thursday<br />
          11:00 am–8:00 pm<br />
          Saturday & Sunday<br />
          11:00 am–6:00 pm<br />
          *Closed on Fridays
        </p>
      </div>
      <div class="information__scca">
        <p>
          For more information:<br />
          <a href="tel:00233 37 209 6210">+233 37 209 6210</a><br />
          <a href="mailto:sccatamale@gmail.com">sccatamale@gmail.com</a> <br />
        </p>
      </div>
    </div>
  </div>
</footer>

{% for exhibition in collections.exhibition | reverse %} {% if loop.index <= 1
%}
<script>
  const CURRENT_EXHIBITION_DATE = "{{ exhibition.data.date }}";
  const CURRENT_EXHIBITION_END = "{{ exhibition.data.end }}";
</script>
{% endif %} {% endfor %}
