<div class="submenu__content">
        <div class="view">
                <div class="btns">
                        <h1>MENU</h1>
                        <h2 class="close__btn">[CLOSE]</h2>
                </div>
                <div class="view__container">
                        <ul>
                                <h1 id="exhibition__btn">EXHIBITIONS</h1>
                                <h1 id="events__btn">EVENTS</h1>
                        </ul>
                </div>
        </div>
</div>